#navbar{
    display: flex;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px ;
    box-shadow: 0px 2px 6px .1px black;
    background-color: rgba(255, 255, 255, .99);
}
nav>a{
    text-decoration: none;
    font-size: 34px;
    color: indianred;
    padding-right: 2%;
}
#tseringnorbu{
    font-family: 'Righteous', cursive;
    width: 25%;
    font-size: 39px;
    text-shadow: 1px 1px 24px burlywood;
}
.nav-link:hover{
    color: gray;
    font-size: 36px;
}
/* #main{
display: flex;
margin-top: 97px;
margin-right: auto;
margin-left: auto;
} */
section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    margin-bottom: 13px;
}
#welcome-section{
    margin-top: 75px;
    background-color: indianred;
}
#welcome-section > h1{
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 45px;
    text-align: center;
}
#welcome-section > h2{
    text-align: center;
    color: lightgrey;
    font-size: 35px;
}
#scroll-down-gif{
    height: 50px;
    width: 100px;
}
#projects{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: snow;
}
.project-tile{
    width: 300px;
    background-color: white;
    padding: 15px;
    box-shadow: 2px 2px 4px .1px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 10px;
}
.project-tile > img{
    width: 300px;
    height: auto;
}
.project-tile > h1{
    font-family: 'Righteous', cursive;
    text-align: center;
    color: indianred;
    font-size: 30px;
}
.project-tile > p{
    font-size: 20px;
}
.project-tile:hover{
    box-shadow: 2px 2px 4px .1px green;
}
.project-link{
    border-top-style: solid;
    border-top-color: indianred;
    padding-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.project-link > a{
    text-decoration: none;
    color: teal;
    font-size: 22px;
}
#about{
    /* background-color: teal; */
}
#about > header{
    font-family: 'Righteous', cursive;
    font-size: 28px;
    color: white;
}
#about > div{
    background-color: rgba(220, 245, 255, .8);
    margin-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    width: 98%;
    border-radius: 15px;
}
.resume > p{
    font-size: 18px;
}
.resume > h2{
    color: teal;
    font-family: 'Righteous', cursive;
    
}
.company-logo{
    width: 110px;
    height: auto;
    border-radius: 30px;   
}
#experience{
    display: flex;
    justify-content: space-around; 
}
.roles{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.details{
    padding:  10px;
    max-width: 150px;
    border-left-style: solid ;
    border-left-color: teal;
    border-left-width: .5px;
}
.company{
    padding-right: 15px;
}
.school-logo{
    object-fit: contain;
    width: 150px;
    height: 150px;
    overflow: hidden;
}
.education{
    display: flex;
    justify-content: space-around;   
    flex-wrap: wrap;
}
.school{
    background-color: white;
    width: 280px;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 35px;
    border-width: .5px;
    border-style: solid;
    border-color: lightgray;
}
.school > p {
    margin-top: -5px;
}
#footer-img{
    max-width: 30px;
  }
  a{
    text-decoration: none;
  }
  #footer{
    background-color: #797edb;
    margin-top: 25px;
    padding: 20px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
  }
  #footer-content{
    font-size: 19px;
    text-align: center;
    color: white;
  }
  #footer-links{
    display: flex;
    justify-content: space-around;
  }
  #contact{
      background-color: #f44336;
  }
  #profile-img{
      width: 450px;
      height: auto;
      margin-bottom: -40px;
  }

  @media(max-width: 1150px){
      #tseringnorbu{
          font-size: 30px;
      }
      nav>a{
          font-size: 24px;
      }
      .nav-link:hover{
          font-size: 24px;
      }
      section{
        height: auto;;
      }
      .project-tile{
          width: 90%;
      }
      .roles{
          
      }
      #experience{
        max-width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .education{
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
  }