#navbar{
    background-color: #990011ff;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin: -30px;
    padding: 40px ;
    
    
}
nav>a{
    text-decoration: none;
    font-size: 34px;
    color: white;
    padding: 5%;
}
#tseringnorbu{
    font-family: 'Righteous', cursive;
    width: 35%;
    font-size: 39px;
}
nav-link{
    
}